# Parsing Garmin Fenix 6 Pro

The garmin tracking only records data for the activity tracks, aka the "Downhill" track types.

## Metadata

There's a lot of device information in the metadata, but for the more concerning datasets there's important bits at the end under the `session` message:

- timestamp
- start_time
- start_position_lat
- start_position_long
- total_elapsed_time
- total_timer_time
- total_distance
- nec_lat
- nec_long
- swc_lat
- swc_long
- unknown
- unknown
- unknown
- enhanced_avg_speed
- enhanced_max_speed
- unknown
- training_load_peak
- message_index
- total_calories
- total_ascent
- total_descen
- first_lap_index
- num_laps
- unknown
- unknown
- unknown
- unknown
- unknown
- unknown
- unknown
- eventevent_type
- port
- sub_sport
- avg_heart_rate
- max_heart_rate
- total_training_effect
- trigger
- avg_temperature
- max_temperature
- unknown
- total_anaerobic_training_effect
- unknown
- unknown
- unknown
- unknown
- total_fractional_ascent
- total_fractional_descent

## Data Columns

This isn't as simple as the `decode_A50` method, since all the datasets are pumped to the csv with attached event types, timestamps, etc. as a large data dump. Although, following the `lap` message provides the following data columns (as scalars), in order:

- timestamp
- start_time
- start_position_lat
- start_position_long
- end_position_lat
- end_position_long
- total_elapsed_time
- total_timer_time
- total_distance
- unknown
- unknown
- unknown
- unknown
- enhanced_avg_speed
- enhanced_max_speed
- enhanced_min_altitude
- enhanced_max_altitude
- message_index
- total_calories
- total_ascent
- total_descent
- unknown
- unknown
- unknown
- unknown
- event
- event_type
- avg_heart_rate
- max_heart_rate
- lap_trigger
- sport
- sub_sport
- avg_temperature
- max_temperature
- unknown
- total_fractional_ascent
- total_fractional_descent

During the activity however, following the `record` messages provides realtime (1Hz) updates for only, in order:

- timestamp
- position_lat
- position_long
- distance
- enhanced_speed
- enhanced_altitude
- unknown
- heart_rate
- temperature
- unknown

### Track Object

Organize into:

- list of tracks, `Downhill` only
- each track has a vector for each of the data columns in `record` messages
- each track has properties for each of the data columns in `lap` messages
  - type, follow the ~~hold, walk, lift,~~ **downhill**
  - date
  - time of day
  - duration
  - overall length

### Example `lap` Message

Recieved as 1 row:

```json
Data	8  
lap  
timestamp	1072897128	s  
start_time	1072896949	  
start_position_lat	547794145	semicircles  
start_position_long	-884171236	semicircles  
end_position_lat	547792841	semicircles  
end_position_long	-884318685	semicircles  
total_elapsed_time	646	s  
total_timer_time	106.004	s  
total_distance	1035.32	m  
unknown	547794368	  
unknown	-884171236	  
unknown	547787645	  
unknown	-884321614	  
enhanced_avg_speed	9.767	m/s  
enhanced_max_speed	19.262	m/s  
enhanced_min_altitude	246.2	m  
enhanced_max_altitude	442.2	m  
message_index	10	  
total_calories	23	kcal  
total_ascent	0	m  
total_descent	198	m  
unknown	2795	  
unknown	3762	  
unknown	22	  
unknown	3	  
event	9	  
event_type	1	  
avg_heart_rate	161	bpm  
max_heart_rate	174	bpm  
lap_trigger	13	  
sport	13	  
sub_sport	0	  
avg_temperature	23	C  
max_temperature	23	C  
unknown	22	  
total_fractional_ascent	0	m  
total_fractional_descent	0.06    m
```

### Example `record` Message

Recieved as 1 row:

```json

Data	6  
record  
timestamp	1072904124	s  
position_lat	547786677	semicircles  
position_long	-884324916	semicircles  
distance	20988.73	m  
enhanced_speed	10.174	m/s  
enhanced_altitude	245.8	m  
unknown	2555	  
heart_rate	163	bpm  
temperature	21	C  
unknown	100
```

In [1]:
import pandas as pd

file = "../DATA/2023_12_30/Mt Olympia/F6P/13293488821_ACTIVITY.csv"
csv = pd.read_csv(file)
csv

C:\Users\bmill\AppData\Local\Temp\ipykernel_28344\4204242308.py:4: DtypeWarning: Columns (28,32,35,37,38,40,43,46,49,58,68,94,100,114,117,120,122,123,125,126,129,132,133,135,138,141,144,146,147,149,150,153,156,159,162,163,165,168,171,174,177,180,183,186,189,192,195,198,201,204,207,210,213,216,219,222,225,228,231,234,237,240,243,246,249,252,255,258,261,264,265,267,270,273,276,279,282,285,288,291,294,297,300,303,306,309,312,315,318,321,324,327,330,333,336,339,342,345,348) have mixed types. Specify dtype option on import or set low_memory=False.
  csv = pd.read_csv(file)

,Type,Local Number,Message,Field 1,Value 1,Units 1,Field 2,Value 2,Units 2,Field 3,...,Field 114,Value 114,Units 114,Field 115,Value 115,Units 115,Field 116,Value 116,Units 116,Unnamed: 351
0,Definition,0,file_id,serial_number,1,NaN,time_created,1,NaN,unknown,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Data,0,file_id,serial_number,3427765798,NaN,time_created,1072889579,NaN,manufacturer,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Definition,1,file_creator,unknown,20,NaN,software_version,1,NaN,hardware_version,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Data,1,file_creator,software_version,2600,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Definition,2,unknown,unknown,1,NaN,unknown,1,NaN,unknown,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34598,Definition,11,session,timestamp,1,NaN,start_time,1,NaN,start_position_lat,...,total_fractional_descent,1.0,NaN,unknown,1.0,NaN,unknown,1.0,NaN,NaN
34599,Data,11,session,timestamp,1072904932,s,start_time,1072890375,NaN,start_position_lat,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34600,Data,9,unknown,unknown,1072904932,NaN,unknown,70004|518461|290997|497009|980992|151002|0,NaN,unknown,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34601,Definition,12,activity,timestamp,1,NaN,total_timer_time,1,NaN,local_timestamp,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34602,Data,12,activity,timestamp,1072904932,NaN,total_timer_time,2508.491,s,local_timestamp,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Split csv by the `lap` Messages

In [2]:
lap_rows = csv.loc[csv['Message'] == 'lap'].loc[csv['Type'] == 'Data']
lap_rows

,Type,Local Number,Message,Field 1,Value 1,Units 1,Field 2,Value 2,Units 2,Field 3,...,Field 114,Value 114,Units 114,Field 115,Value 115,Units 115,Field 116,Value 116,Units 116,Unnamed: 351
1637,Data,8,lap,timestamp,1072890618,s,start_time,1072890375,NaN,start_position_lat,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3545,Data,8,lap,timestamp,1072891439,s,start_time,1072891005,NaN,start_position_lat,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4860,Data,8,lap,timestamp,1072891992,s,start_time,1072891855,NaN,start_position_lat,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6714,Data,8,lap,timestamp,1072892796,s,start_time,1072892423,NaN,start_position_lat,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8229,Data,8,lap,timestamp,1072893448,s,start_time,1072893208,NaN,start_position_lat,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9657,Data,8,lap,timestamp,1072894060,s,start_time,1072893924,NaN,start_position_lat,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10924,Data,8,lap,timestamp,1072894601,s,start_time,1072894467,NaN,start_position_lat,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12574,Data,8,lap,timestamp,1072895311,s,start_time,1072895012,NaN,start_position_lat,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13887,Data,8,lap,timestamp,1072895868,s,start_time,1072895722,NaN,start_position_lat,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15320,Data,8,lap,timestamp,1072896482,s,start_time,1072896346,NaN,start_position_lat,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16813,Data,8,lap,timestamp,1072897128,s,start_time,1072896949,NaN,start_position_lat,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18111,Data,8,lap,timestamp,1072897675,s,start_time,1072897534,NaN,start_position_lat,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19403,Data,8,lap,timestamp,1072898223,s,start_time,1072898083,NaN,start_position_lat,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20683,Data,8,lap,timestamp,1072898764,s,start_time,1072898631,NaN,start_position_lat,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21946,Data,8,lap,timestamp,1072899302,s,start_time,1072899174,NaN,start_position_lat,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23250,Data,8,lap,timestamp,1072899856,s,start_time,1072899709,NaN,start_position_lat,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26031,Data,8,lap,timestamp,1072901223,s,start_time,1072900266,NaN,start_position_lat,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27311,Data,8,lap,timestamp,1072901775,s,start_time,1072901636,NaN,start_position_lat,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29444,Data,8,lap,timestamp,1072902716,s,start_time,1072902150,NaN,start_position_lat,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31660,Data,8,lap,timestamp,1072903662,s,start_time,1072903159,NaN,start_position_lat,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32953,Data,8,lap,timestamp,1072904221,s,start_time,1072904065,NaN,start_position_lat,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34594,Data,8,lap,timestamp,1072904932,s,start_time,1072904678,NaN,start_position_lat,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
lap_indices = [0] + lap_rows.index.tolist()
tracks = [csv.iloc[lap_indices[n]:lap_indices[n+1]] for n in range(len(lap_indices)-1)]
tracks[0]

,Type,Local Number,Message,Field 1,Value 1,Units 1,Field 2,Value 2,Units 2,Field 3,...,Field 114,Value 114,Units 114,Field 115,Value 115,Units 115,Field 116,Value 116,Units 116,Unnamed: 351
0,Definition,0,file_id,serial_number,1,NaN,time_created,1,NaN,unknown,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Data,0,file_id,serial_number,3427765798,NaN,time_created,1072889579,NaN,manufacturer,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Definition,1,file_creator,unknown,20,NaN,software_version,1,NaN,hardware_version,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Data,1,file_creator,software_version,2600,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Definition,2,unknown,unknown,1,NaN,unknown,1,NaN,unknown,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1632,Data,0,unknown,unknown,1072890616,NaN,unknown,249|125|32|78|0|0|0|0,NaN,unknown,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1633,Data,14,hrv,time,0.481|0.485|65535|65535|65535,s,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1634,Data,15,gps_metadata,enhanced_altitude,255.20000000000005,m,enhanced_speed,1.896,m/s,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1635,Data,14,hrv,time,0.496|0.5|65535|65535|65535,s,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1636,Definition,8,lap,timestamp,1,NaN,start_time,1,NaN,start_position_lat,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
parsed_tracks = [track.loc[csv['Message'] == 'record'].loc[csv['Type'] == 'Data'] for track in tracks]
parsed_tracks[0]

,Type,Local Number,Message,Field 1,Value 1,Units 1,Field 2,Value 2,Units 2,Field 3,...,Field 114,Value 114,Units 114,Field 115,Value 115,Units 115,Field 116,Value 116,Units 116,Unnamed: 351
1002,Data,6,record,timestamp,1072890374,s,position_lat,547765396,semicircles,position_long,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1005,Data,6,record,timestamp,1072890375,s,position_lat,547765104,semicircles,position_long,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1008,Data,6,record,timestamp,1072890376,s,position_lat,547764860,semicircles,position_long,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1012,Data,6,record,timestamp,1072890377,s,position_lat,547764664,semicircles,position_long,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1015,Data,6,record,timestamp,1072890378,s,position_lat,547764556,semicircles,position_long,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1358,Data,6,record,timestamp,1072890495,s,position_lat,547780635,semicircles,position_long,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1361,Data,6,record,timestamp,1072890496,s,position_lat,547780863,semicircles,position_long,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1366,Data,7,record,timestamp,1072890497,s,position_lat,547780999,semicircles,position_long,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1372,Data,7,record,timestamp,1072890499,s,position_lat,547780979,semicircles,position_long,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1385,Data,7,record,timestamp,1072890504,s,position_lat,547780974,semicircles,position_long,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

#### As a function:

In [5]:
def parseTracks(file) -> [pd.DataFrame]:
    csv = pd.read_csv(file)
    lap_indices = [0] + csv.loc[csv['Message'] == 'lap'].loc[csv['Type'] == 'Data'].index.tolist()
    return [csv.iloc[lap_indices[n]:lap_indices[n+1]].loc[csv['Message'] == 'record'].loc[csv['Type'] == 'Data'] for n in range(len(lap_indices)-1)]

In [6]:
# confirming the function is the same:
track_from_def = parseTracks(file)[0]
track_from_def

C:\Users\bmill\AppData\Local\Temp\ipykernel_28344\608844952.py:2: DtypeWarning: Columns (28,32,35,37,38,40,43,46,49,58,68,94,100,114,117,120,122,123,125,126,129,132,133,135,138,141,144,146,147,149,150,153,156,159,162,163,165,168,171,174,177,180,183,186,189,192,195,198,201,204,207,210,213,216,219,222,225,228,231,234,237,240,243,246,249,252,255,258,261,264,265,267,270,273,276,279,282,285,288,291,294,297,300,303,306,309,312,315,318,321,324,327,330,333,336,339,342,345,348) have mixed types. Specify dtype option on import or set low_memory=False.
  csv = pd.read_csv(file)

,Type,Local Number,Message,Field 1,Value 1,Units 1,Field 2,Value 2,Units 2,Field 3,...,Field 114,Value 114,Units 114,Field 115,Value 115,Units 115,Field 116,Value 116,Units 116,Unnamed: 351
1002,Data,6,record,timestamp,1072890374,s,position_lat,547765396,semicircles,position_long,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1005,Data,6,record,timestamp,1072890375,s,position_lat,547765104,semicircles,position_long,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1008,Data,6,record,timestamp,1072890376,s,position_lat,547764860,semicircles,position_long,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1012,Data,6,record,timestamp,1072890377,s,position_lat,547764664,semicircles,position_long,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1015,Data,6,record,timestamp,1072890378,s,position_lat,547764556,semicircles,position_long,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1358,Data,6,record,timestamp,1072890495,s,position_lat,547780635,semicircles,position_long,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1361,Data,6,record,timestamp,1072890496,s,position_lat,547780863,semicircles,position_long,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1366,Data,7,record,timestamp,1072890497,s,position_lat,547780999,semicircles,position_long,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1372,Data,7,record,timestamp,1072890499,s,position_lat,547780979,semicircles,position_long,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1385,Data,7,record,timestamp,1072890504,s,position_lat,547780974,semicircles,position_long,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Assign Properties

Once we filter for the `lap` messages, assign the values at this stage since they're all present here. Just read the date from the lap timestamp, should always be equal in one session.

In [7]:
from datetime import datetime

ts_offset = 631065600  # Special Garmin constant... https://stackoverflow.com/a/57836047
start_ts = int(lap_rows.iloc[0,7])
_datetime = datetime.fromtimestamp(start_ts + ts_offset)
print(_datetime)

2023-12-30 12:06:15

In [8]:
type = "Downhill"
date = _datetime.date()
tod = _datetime.time()
duration = int(lap_rows.iloc[0,25])
length = float(lap_rows.iloc[0,28])

print(type)
print(date)
print(tod)
print(duration)
print(length)

Downhill
2023-12-30
12:06:15
106
955.88

### Assign Vectors

Right from `parsed_tracks`:

In [9]:
time = [int(t) + ts_offset for t in parsed_tracks[0].iloc[:,4].tolist()]
dist = parsed_tracks[0].iloc[:,13].tolist()
vel = parsed_tracks[0].iloc[:,16].tolist()
course = []
alt = parsed_tracks[0].iloc[:,19].tolist()
lat = parsed_tracks[0].iloc[:,7].tolist()
long = parsed_tracks[0].iloc[:,10].tolist()
acc = []

print("Time [Sec]")
print(time)
print("Distance [m]")
print(dist)
print("Velocity [m/s]")
print(vel)
print("Course [°]")
print(course)
print("Altitude [m]")
print(alt)
print("Latitude [semicircles]")
print(lat)
print("Longitude [semicircles]")
print(long)
print("Accuracy [m]")
print(acc)

parsed_tracks[0].iloc[:,16]

Time [Sec]
[1703955974, 1703955975, 1703955976, 1703955977, 1703955978, 1703955979, 1703955980, 1703955982, 1703955983, 1703956007, 1703956008, 1703956009, 1703956010, 1703956011, 1703956012, 1703956013, 1703956014, 1703956015, 1703956016, 1703956020, 1703956021, 1703956023, 1703956024, 1703956025, 1703956026, 1703956027, 1703956028, 1703956029, 1703956030, 1703956031, 1703956032, 1703956033, 1703956034, 1703956035, 1703956036, 1703956037, 1703956038, 1703956039, 1703956040, 1703956041, 1703956042, 1703956043, 1703956044, 1703956045, 1703956046, 1703956047, 1703956048, 1703956049, 1703956050, 1703956052, 1703956053, 1703956054, 1703956055, 1703956056, 1703956057, 1703956058, 1703956060, 1703956061, 1703956063, 1703956064, 1703956065, 1703956066, 1703956067, 1703956068, 1703956069, 1703956070, 1703956071, 1703956072, 1703956073, 1703956074, 1703956075, 1703956076, 1703956077, 1703956078, 1703956079, 1703956080, 1703956081, 1703956082, 1703956083, 1703956084, 1703956086, 1703956087, 1703956088, 1703956089, 1703956090, 1703956091, 1703956092, 1703956093, 1703956094, 1703956095, 1703956096, 1703956097, 1703956099, 1703956104]
Distance [m]
[0.0, 3.05, 6.02, 8.62, 10.3, 11.14, 11.39, 11.76, 11.81, 11.81, 20.96, 30.5, 40.36, 49.95, 58.79, 66.95, 72.33, 77.34, 79.53, 80.8, 81.46, 86.15, 89.96, 94.76, 100.95, 109.16, 120.99, 132.63, 144.36, 156.84, 168.71, 181.0, 193.23, 205.38, 218.13, 230.43, 243.19, 255.55, 268.54, 280.79, 290.11, 303.67, 316.07, 328.7, 341.68, 355.05, 369.54, 382.84, 396.1, 420.2, 432.78, 445.65, 459.69, 474.02, 486.99, 499.82, 524.14, 536.18, 560.75, 571.68, 584.65, 600.56, 612.38, 626.83, 644.55, 659.48, 674.15, 688.71, 703.52, 718.44, 733.52, 749.07, 763.46, 778.8, 793.1, 806.11, 818.75, 830.76, 842.05, 853.71, 877.56, 890.34, 902.27, 912.44, 920.79, 928.34, 935.06, 940.73, 945.59, 949.48, 952.24, 954.51, 955.52, 955.88]
Velocity [m/s]
['2.209', '2.209', '2.265', '2.627', '2.627', '2.627', '2.321', '0.264', '0.264', '3.966', '5.244', '6.242', '8.995', '8.995', '8.995', '8.883', '8.398', '8.036', '7.85', '0.894', '0.894', '0.907', '1.262', '2.302', '3.495', '3.986', '5.497', '6.831', '9.238', '10.675', '11.571', '11.713', '11.713', '11.812', '11.922', '11.95', '11.95', '11.993', '12.021', '12.021', '12.196', '12.196', '12.196', '11.97', '11.97', '11.97', '12.218', '12.979', '13.111', '13.111', '12.724', '12.724', '12.724', '12.737', '12.737', '12.738', '12.746', '12.746', '12.44', '12.44', '12.44', '12.44', '12.942', '13.191', '13.423', '13.533', '14.471', '14.471', '14.471', '14.445', '14.445', '14.445', '14.49', '14.505', '14.599', '14.599', '14.599', '13.947', '13.081', '12.394', '11.782', '11.782', '11.782', '11.782', '11.782', '11.311', '9.497', '7.411', '7.402', '6.788', '5.327', '4.734', '2.034', '0.0']
Course [°]
[]
Altitude [m]
[429.2000000000001, 429.0, 428.6, 428.2000000000001, 427.6, 427.4, 427.4, 427.4, 427.4, 425.2000000000001, 423.6, 422.0, 419.8, 419.4, 418.8, 418.4, 417.2000000000001, 415.6, 415.0, 414.6, 414.6, 414.6, 414.6, 414.6, 414.2000000000001, 413.0, 409.8, 407.8, 405.0, 404.0, 402.4, 399.4, 397.0, 394.4, 392.6, 389.4, 386.4, 381.2000000000001, 376.8, 375.2000000000001, 372.8, 367.0, 365.4, 362.6, 361.2000000000001, 354.6, 351.79999999999995, 348.79999999999995, 347.6, 344.6, 342.20000000000005, 339.20000000000005, 332.79999999999995, 331.20000000000005, 328.20000000000005, 326.79999999999995, 326.0, 322.79999999999995, 318.6, 317.20000000000005, 316.0, 310.20000000000005, 308.0, 304.0, 301.4, 297.4, 293.6, 291.20000000000005, 287.4, 285.6, 280.0, 278.4, 272.79999999999995, 270.20000000000005, 267.6, 266.0, 264.6, 263.4, 261.4, 260.4, 257.79999999999995, 255.20000000000005, 253.6, 251.4, 250.0, 249.0, 247.79999999999995, 247.0, 246.6, 245.79999999999995, 245.79999999999995, 245.79999999999995, 245.79999999999995, 245.79999999999995]
Latitude [semicircles]
['547765396', '547765104', '547764860', '547764664', '547764556', '547764507', '547764488', '547764459', '547764457', '547763246', '547762835', '547762344', '547761814', '547761406', '547760918', '547760382', '547760055', '547759763', '547759629', '547759587', '547759616', '547759371', '547759177', '547758949', '547758555', '547757958', '547757234', '547756477', '547755810', '547755054', '547754464', '547753872', '547753512', '547753160', '547752933', '547752862', '547752553', '547752457', '547752350', '547752469', '547752657', '547752990', '547753111', '547753249', '547753184', '547752676', '547752292', '547751773', '547751283', '547750543', '547750237', '547749961', '547749851', '547749991', '547750040', '547750214', '547750933', '547751579', '547752627', '547753056', '547753604', '547754381', '547754953', '547755680', '547756735', '547757537', '547758504', '547759447', '547760548', '547761627', '547762783', '547764028', '547765156', '547766328', '547767424', '547768284', '547769188', '547770185', '547770980', '547771925', '547773760', '547774737', '547775783', '547776789', '547777653', '547778450', '547779161', '547779751', '547780254', '547780635', '547780863', '547780999', '547780979', '547780974']
Longitude [semicircles]
[-884210324.0, -884210543.0, -884210713.0, -884211000.0, -884211205.0, -884211276.0, -884211302.0, -884211337.0, -884211344.0, -884214739.0, -884215981.0, -884217259.0, -884218558.0, -884219866.0, -884221053.0, -884222052.0, -884222737.0, -884223368.0, -884223603.0, -884223699.0, -884223824.0, -884224471.0, -884225000.0, -884225675.0, -884226456.0, -884227397.0, -884228885.0, -884230232.0, -884231737.0, -884233261.0, -884234882.0, -884236554.0, -884238311.0, -884240072.0, -884241965.0, -884243836.0, -884245689.0, -884247532.0, -884249412.0, -884251192.0, -884252576.0, -884254574.0, -884256337.0, -884258254.0, -884260204.0, -884262128.0, -884264121.0, -884265978.0, -884267847.0, -884271408.0, -884273271.0, -884275178.0, -884277280.0, -884279315.0, -884281304.0, -884283207.0, -884286826.0, -884288458.0, -884291845.0, -884293336.0, -884295159.0, -884297352.0, -884298818.0, -884300749.0, -884302938.0, -884304888.0, -884306564.0, -884308257.0, -884309862.0, -884311463.0, -884313065.0, -884314466.0, -884315978.0, -884317442.0, -884318931.0, -884320460.0, -884321895.0, -884323055.0, -884324365.0, -884325503.0, -884328073.0, -884329427.0, -884330416.0, -884330971.0, -884331024.0, -884330899.0, -884330831.0, -884330710.0, -884330537.0, -884330292.0, -884330044.0, -884329742.0, -884329566.0, -884329622.0]
Accuracy [m]
[]

1002    2.209
1005    2.209
1008    2.265
1012    2.627
1015    2.627
        ...
1358    6.788
1361    5.327
1366    4.734
1372    2.034
1385      0.0
Name: Value 5, Length: 94, dtype: object

## Full Procedure | data {Dec 31, 2023}

Done for different ski data to confirm the process works:

In [10]:
from decode import decode_F6P

tracks = decode_F6P("../DATA/2023_12_31/Mt St Sauveur/F6P/13306856415_ACTIVITY.csv", printProps=True)

Track type Downhill | Date 2023-12-31 | Time 11:37:37 | Duration [s] 122 | Length [m] 885.91
Track type Downhill | Date 2023-12-31 | Time 11:49:29 | Duration [s] 140 | Length [m] 1228.53
Track type Downhill | Date 2023-12-31 | Time 11:56:51 | Duration [s] 106 | Length [m] 974.62
Track type Downhill | Date 2023-12-31 | Time 12:02:32 | Duration [s] 94 | Length [m] 949.91
Track type Downhill | Date 2023-12-31 | Time 12:08:25 | Duration [s] 110 | Length [m] 925.45
Track type Downhill | Date 2023-12-31 | Time 12:14:26 | Duration [s] 86 | Length [m] 955.17
Track type Downhill | Date 2023-12-31 | Time 12:20:45 | Duration [s] 96 | Length [m] 985.56
Track type Downhill | Date 2023-12-31 | Time 12:26:16 | Duration [s] 163 | Length [m] 1074.71
Track type Downhill | Date 2023-12-31 | Time 12:32:23 | Duration [s] 114 | Length [m] 1107.24
Track type Downhill | Date 2023-12-31 | Time 12:38:40 | Duration [s] 78 | Length [m] 800.84
Track type Downhill | Date 2023-12-31 | Time 12:45:17 | Duration [s] 113 | Length [m] 1060.78
Track type Downhill | Date 2023-12-31 | Time 12:50:55 | Duration [s] 105 | Length [m] 980.22
Track type Downhill | Date 2023-12-31 | Time 12:57:04 | Duration [s] 107 | Length [m] 1072.2
Track type Downhill | Date 2023-12-31 | Time 13:02:34 | Duration [s] 95 | Length [m] 994.21
Track type Downhill | Date 2023-12-31 | Time 13:08:35 | Duration [s] 86 | Length [m] 984.9
Track type Downhill | Date 2023-12-31 | Time 13:14:11 | Duration [s] 111 | Length [m] 890.63
Track type Downhill | Date 2023-12-31 | Time 13:20:09 | Duration [s] 99 | Length [m] 981.85
Track type Downhill | Date 2023-12-31 | Time 13:25:51 | Duration [s] 97 | Length [m] 988.7
Track type Downhill | Date 2023-12-31 | Time 13:34:43 | Duration [s] 79 | Length [m] 947.91
Track type Downhill | Date 2023-12-31 | Time 13:42:32 | Duration [s] 116 | Length [m] 1030.12
Track type Downhill | Date 2023-12-31 | Time 13:49:10 | Duration [s] 104 | Length [m] 1016.98
Track type Downhill | Date 2023-12-31 | Time 13:55:25 | Duration [s] 76 | Length [m] 947.52
Track type Downhill | Date 2023-12-31 | Time 14:02:28 | Duration [s] 101 | Length [m] 965.28
Track type Downhill | Date 2023-12-31 | Time 14:08:02 | Duration [s] 100 | Length [m] 971.71
Track type Downhill | Date 2023-12-31 | Time 14:13:48 | Duration [s] 88 | Length [m] 954.22
Track type Downhill | Date 2023-12-31 | Time 14:19:52 | Duration [s] 126 | Length [m] 1248.17
Track type Downhill | Date 2023-12-31 | Time 14:30:00 | Duration [s] 171 | Length [m] 1488.24
Track type Downhill | Date 2023-12-31 | Time 14:38:38 | Duration [s] 88 | Length [m] 687.72
Track type Downhill | Date 2023-12-31 | Time 14:46:36 | Duration [s] 87 | Length [m] 885.96
Track type Downhill | Date 2023-12-31 | Time 14:54:21 | Duration [s] 149 | Length [m] 1221.38
Track type Downhill | Date 2023-12-31 | Time 15:01:06 | Duration [s] 97 | Length [m] 977.74
Track type Downhill | Date 2023-12-31 | Time 15:06:35 | Duration [s] 113 | Length [m] 993.44
Track type Downhill | Date 2023-12-31 | Time 15:13:29 | Duration [s] 98 | Length [m] 984.67
Track type Downhill | Date 2023-12-31 | Time 15:19:08 | Duration [s] 76 | Length [m] 949.27
Track type Downhill | Date 2023-12-31 | Time 15:24:58 | Duration [s] 158 | Length [m] 1385.54